# Environnements virtuels
venv/
.env
*.pyc

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers de log
*.log

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers sensibles
*.key
secrets.json

# Fichiers de base de données
*.db
*.sqlite3